---
import Layout from "@layout/Layout.astro";
import AuthorForm from "@components/Form/AuthorForm/AuthorForm";
import { serverURL } from "@common/common";
---

<Layout>
  <div class="container container-variant">
    <h1 style="text-align: center;">Add Author</h1>
    <AuthorForm endPoint={`${serverURL}/authors`} method="POST" client:load />
  </div>
</Layout>
