:root {
  /* Brand Colours */
  --primary: #614c92;
  --secondary: #ede6fa;
  --tertary: #9174BA;
  --off-purple: #F9F6FF;
  --white: #ffffff;
  --off-white: #eeeeee;
  --hover: #d772bd;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--off-white);
  color: var(--primary);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

figure {
  background-color: #111827;
  box-shadow: 0 1px 8px rgba(22,22,22, 0.5);
  margin: 0;
  padding: 0;
}

figcaption {
  padding: 0.5rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.container-variant {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--tertary);
  border-radius: 5px;
  color: var(--white);
  padding: 30px 20px;
  margin-bottom: 30px;
}

.container-variant * {
  margin: 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-container {
  display: flex;
  gap: 20px;
}
