:root {
  /* Brand Colours */
  --primary: #614c92;
  --secondary: #ede6fa;
  --tertary: #9174ba;
  --off-purple: #f9f6ff;
  --white: #ffffff;
  --off-white: #eeeeee;
  --hover: #d772bd;
  --bg: #1e1f33;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
  color: var(--white);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

figure {
  background-color: #111827;
  box-shadow: 0 1px 8px rgba(22, 22, 22, 0.5);
  margin: 0;
  padding: 0;
}

figcaption {
  padding: 0.5rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.container-variant {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--tertary);
  border-radius: 5px;
  color: var(--white);
  padding: 30px 20px;
}

.container-variant *:not(input) {
  margin: 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-container {
  border-top: 1px solid rgba(255,255,255, 0.25);
  display: flex;
  gap: 20px;
  padding-top: 1rem;
}

.tag {
  font-size: 0.875em;
}

.btn {
  font-weight: 500;
  background-color: var(--hover);
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.sr-only {
  clip: rect(0,0,0,0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
