---
import Layout from "@layout/Layout.astro";

const { id } = Astro.params;
---

<Layout>
  <h1>Author ID: {id}</h1>
  <p>Should display the author and the books associated with the author.</p>
</Layout>
