---
import Layout from "@layout/Layout.astro";

const { id } = Astro.params;
---

<Layout>
  <h1>Book id: {id}</h1>
  <p>Should display all the pages of a book, toggle buttons to display grid columns, the scroll buttons.</p>
  <p>Optional data to display: author and tags.</p>
</Layout>
