---
import Layout from "@layout/Layout.astro";
---

<Layout pageTitle="404 Page not found">
  <h1>404 Page Not Found</h1>
  <p>Something went wrong...</p>
</Layout>

<style>
  body {
    text-align: center;
  }
</style>
