---
import Layout from "@layout/Layout.astro";
import Grid from "@components/Grid/Grid";
---

<Layout>
  <div class="container container-variant">
    <h1>Favorites</h1>
  </div>
  <Grid toggle={false}>
    <p>There are currently no favorite books.</p>
  </Grid>
</Layout>
