---
import Layout from "@layout/Layout.astro";
import type { Book } from "../types/types.ts";

const response = await fetch("http://localhost:8080/books");
const books = await response.json();
---

<Layout>
  <main>
    <h1>Hello World</h1>
    <ul>
      {books.map((book: Book) => <li>{book.title}</li>)}
    </ul>
  </main>
</Layout>
