---
import Layout from "@layout/Layout.astro";
import type { Book } from "@common/common";

const response = await fetch("http://localhost:8080/books");
const books = await response.json();
---

<Layout>
  <main>
    <div class="container">
      <h1>Library</h1>
    </div>
    <div class="gallery container">
      <ul>
        {books.map((book: Book) => <li>{book.title}</li>)}
      </ul>
    </div>
  </main>
</Layout>
