.site-header {
  background-color: var(--primary);
  margin-bottom: 30px;
  padding: 0 20px;
}

.site-header a {
  color: var(--white);
  font-weight: 600;
  padding: 1rem;
}

.site-header a.logo {
  padding: 1rem 0;
}

.site-header .admin {
  background-color: var(--hover);
  border-radius: 100px;
  color: var(--white);
  padding: 10px 40px;
  margin-left: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-footer {
  background-color: var(--secondary);
  padding: 1rem;
  text-align: center;
}