---
import "@styles/reset.css";
import "@styles/global.css";
import Styles from './Layout.module.css';

type Props = {
  pageTitle?: string | undefined;
};

const { pageTitle = "Example Title" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header class={Styles["site-header"]}>
      <div class={`${Styles["flex-container"]} container`}>
        Logo search
        <nav>Authors Favorites Tags</nav>
        Admin
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer class={Styles["site-footer"]}>&copy; 2024 All Rights Reserved</footer>
  </body>
</html>
