.pagination {
  margin-bottom: 1rem;
  padding: 1rem;
}

.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination svg {
  height: 15px;
}

.pagination a {
  background-color: rgba(0,0,0,0.25);;
  border: 1px solid rgb(55, 65, 81);
  color: var(--white);
  padding: 16px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: rgb(55, 65, 81);
}

.previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pagination .active {
  background-color: rgb(55, 65, 81);
}
