---
import Layout from "@layout/Layout.astro";

const { id } = Astro.params;
---

<Layout>
  <h1>Tag id: {id}</h1>
  <p>Should display a list of books that are associated with the tag. Should display the total number of books under the tag and display pagination.</p>
</Layout>
