---
import Layout from "@layout/Layout.astro";
import BookForm from "@components/Form/BookForm/BookForm";
---

<Layout>
  <div class="container container-variant">
    <h1 style="text-align: center;">Add Book</h1>
    <BookForm authors={[]} endPoint="" method="POST" tags={[]} client:load />
  </div>
</Layout>
